body, div.sidebar, div.main{
    background-color: white !important;
    color: black !important;
}
a.nav-link {
    color: var(--bs-dark);
}
hr{
    border-color: var(--bs-dark);
}
div.slider label{
    color: var(--bs-dark);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
  }
                          /***** Track Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-runnable-track {
    background: var(--bs-dark);
    height: 0.5rem;
  }
  
  /******** Firefox ********/
  input[type="range"]::-moz-range-track {
    background: var(--bs-light);
    height: 0.5rem;
  }
  /***** Thumb Styles *****/
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none; /* Override default look */
     appearance: none;
     margin-top: -12px; /* Centers thumb on the track */
     background-color: var(--bs-yellow);
     height: 2rem;
     width: 1rem;    
  }
  /***** Thumb Styles *****/
  /***** Firefox *****/
  input[type="range"]::-moz-range-thumb {
      border: none; /*Removes extra border that FF applies*/
      border-radius: 0; /*Removes default border-radius that FF applies*/
      background-color: var(--bs-yellow);
      height: 2rem;
      width: 1rem;
  }
  /***** Focus Styles *****/
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /***** Chrome, Safari, Opera, and Edge Chromium *****/
  input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid var(--bs-yellow);
    outline: 3px solid var(--bs-yellow);
    outline-offset: 0.125rem;
  }
  
  /******** Firefox ********/
  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid var(--bs-yellow);
    outline: 3px solid var(--bs-yellow);
    outline-offset: 0.125rem;     
  }